/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

h3 {
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

img {
    max: width 30px;
    height:20 px;
    margin-top: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}





.navbar {
    background-color: #343a40;
}

.navbar a {
    color: #fff;
}

.welcome-box {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 900px;
    height: 150px;
    background: linear-gradient(to right, #ff7e5f, #feb47b, #ffcb91, #ffe5a9);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
}

.welcome-text {
    font-size: 30px;
    font-weight: bold;
}

.row {
    margin-top: 15px;
}

.card {
    margin: auto;
    width: 14rem;
}

.card h5 {
    text-align: center;
}


@media (max-width: 700px) {

    .welcome-box {
        width: 90%; 
        max-width: none; 
        height: auto; 
        padding: 15px; 
    }
    .welcome-text {
        font-size: 20px;
        font-weight: bold;
    }
}


.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

